



.about-container {
    width:100%;
    overflow: hidden;
    background: white;
    margin:0;
    height:130vh;
    padding: 0.3em;

}


.about-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.about-wrapper h3 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-weight: bold;
}







.about-wrapper-two {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 2000px;

}


.about-wrapper-two img {
    width:510px;
    height: 310px;
    object-fit: cover;
}



.para-about {
    width: 50%;
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #555;
}





.domain-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    max-width: 1000px;
    font-weight: bold;
    font-size: 1rem;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



@media screen and (max-width: 420px) {
    .about-container {
        height: auto;
        padding-bottom: 1em;
    }

    .about-wrapper-two {
        flex-direction: column;
        text-align: center;
        gap: 1em;
    }

    .para-about {
        width: 95%;
        font-size: 0.9rem;
    }

    .domain-text p {
        font-size: 0.8rem;
    }
}