* {
    box-sizing: border-box;
}

/* Default navbar style */
.nav-container {
    width: 100%;
    overflow: hidden;
    background: black;
    padding: 1em;
    position: sticky;
    top: 0;
    transition: all 0.3s ease;
    z-index: 999;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.nav-wrapper a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-wrapper a:hover {
    color: gold;
    cursor: pointer;
}

.nav-wrapper h3 {
    text-decoration: none;
    color: gold;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

/* Scroll effect */
.nav-scrolled {
    padding: 0.1em;
    background: linear-gradient(
        90deg,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
    );
}

.scrolled-title {
    color: black !important;
    font-weight: 900 !important;
}

/* Desktop */
.nav-links {
    display: flex;
    gap: 1em;
}

.menu-button {
    display: none; /* always hidden now */
}

/* --------------------------- */
/* MOBILE VERSION */

@media screen and (max-width: 420px) {
    .nav-links {
        display: none !important; /* HIDE ALL a LINKS */
    }

    .menu-button {
        display: none !important; /* Make sure hamburger is gone */
    }
}