.hero-img {
  width: 100%;
  height: 99vh;
  object-fit: cover;
}

@media screen and (max-width: 420px) {
    .hero-container {
        height: auto !important;
        padding-top: -2em;
    }

    .hero-img {
        width: 100%;
        height: auto !important;
        object-fit: cover;
    }
}