



.education-container {
        width:100%;
        overflow: hidden;
        background: white;
        margin:0;
        padding: 0.3em;
}



.education-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-weight: bold;
}



.education-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}


.education-item img {
    border-radius: 10%;
    width: 210px;
    height: 210px;
}



.education-item p{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color:grey
}


.education-item h3 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
